@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --primary: #2563eb;
  --secondary: #10b981;
  --accent: #f8fafc;
  --card: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
  --color-card: var(--card);
}

.dark {
  --background: #0f172a;
  --foreground: #f1f5f9;
  --primary: #3b82f6;
  --secondary: #10b981;
  --accent: #1e293b;
  --card: #1e293b;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}